body {
    background-image: url(images/starry-sky-by-paree.jpg);
    
}

h1 {
    font-family: 'Faster One', cursive;
    font-size: 38px;
    color: black;
    text-align: center;
   
}

#calc {
  height: 250x;
  width: 350px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: #9C29DE;
  border: 2px solid black;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 6px darkgray;
    
}

#innercalc {
    width: 340px;
    margin: auto;
}


#display {
    margin-bottom: 20px;
    height: 50px;
    width: 17em;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 1px black;
    text-align: right;
    font: 20px bold;
    font-family: 'Nova Mono', monospace;
}

.keys {
    width: 70px;
    height: 50px;
    margin: 4px;
    box-shadow: 0px 0px 2px 1px black;
    border-radius: 3px;
    outline: none;
    font: 20px bold;
    font-family: 'Nova Mono', monospace;
}

#equals {
    position: absolute;
    width: 70px;
    height: 104px;
    margin: -50px 4px 4px 8px;
    box-shadow: 0px 0px 2px 1px black;
    border-radius: 3px;
    outline: none;
    font: 20px bold;
    font-family: 'Nova Mono', monospace;
}

#zero {
    width: 153px;
    height: 50px;
    margin: 4px;
    box-shadow: 0px 0px 2px 1px black;
    border-radius: 3px;
    outline: none;
    font: 20px bold;
    font-family: 'Nova Mono', monospace;
}


/*lisa frank color palette from http://www.colourlovers.com/palette/340445/lisa_frank?c=1 */


.danger {
    background-color: #EF2194;
    /*lisa frank palette: trapper keeper*/
}

.action {
    background-color: #00B5F7;
    /*lisa frank palette: bright */
}

.number {
    background-color: #FFDE10;
    /*lisa frank palette: goodday */
}

.footer {
  width: 350px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: #9C29DE;
  border: 2px solid black;
  padding: 15px;
  border-radius: 20px;
  color: darkgray;
  text-align: center;
    font-family: sans-serif;
}